
  <div class="card-body form-inline ">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      placeholder="Suche nach Überschrift..."
      [(ngModel)]="model"
      [ngbTypeahead]="searchKeyword"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
    />
    <br>
    <button class="btn btn-outline-secondary" (click)="search()">search</button>
  </div>

