

<div class="container-fluid">

<main class="col-12 col-md-12 col-lg-12 col-xl-12 justify-content-center" role="main">
<!--  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
  <app-left-frame></app-left-frame>
  </div>-->
  <div  *ngFor="let ueberschrift of ueberschriftList">

  <h1 class="bd-title" id="content" *ngIf="ueberschrift" >

    <a [routerLink]=" ['/ueberschriftDetail', ueberschrift.id]">
      <strong>{{ueberschrift.text}}</strong></a></h1>
    <p class = "pull-left" *ngIf="ueberschrift"><small>{{ueberschrift.realTime}} </small>
    <button class="btn btn-secondary btn-sm justify-content-between" id="schreiben" [routerLink]="['/eintrag-schreiben', ueberschrift.id, sessionUser.id,eintragList1.length+1]" *ngIf="sessionUser !== null&&ueberschrift&&eintragList1"> eintrag Schreiben
    </button>
  <hr>

  <div class="commments-list justify-content-center" *ngFor="let eintrag of ueberschrift.eintragList">
    <div class="media">
      <div class="media-body col-md-6">

        <h4 class="text-secondary"><em><small>{{eintrag.text}}</small></em>
        </h4>

        <div class="row">
          <div>
          <button class="btn btn-secondary btn-sm" > <small>{{eintrag.likesnumber}}</small></button>
          </div>
          <div *ngIf="sessionUser!== null && !likeseintrags.includes(eintrag.id)">

            <button  class="btn btn-secondary btn-sm " (click)="addToLikes(eintrag)" >wunderbar!</button>

          </div>



          <div class="col-md-6" id="username"><em><small>
            {{eintrag.realTime}}</small></em>
          </div>



          <div class="col-md-3">
            <ul class="nav justify-content-md-center" >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{eintrag.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <a class="btn" (click)="deleteEitrag(eintrag)" *ngIf="sessionUser!== null && eintrag.username === sessionUser.username">eintrag löschen</a>
                <a class="btn" (click)="removelike(eintrag)" *ngIf="likeseintrags.includes(eintrag.id)&& sessionUser!== null && eintrag.username === sessionUser.username">wunderbar zurück</a>
                <a class="btn"  [routerLink]="['/user-like',eintrag.userid]">profile</a>
                <a class="btn"  *ngIf="sessionUser!==null&&sessionUser.username!==eintrag.username" [routerLink]="['/message',sessionUser.id,eintrag.userid]">nachricht schreiben</a>

              </div>
            </li>

            </ul>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
  <nav aria-label="Page navigation example" *ngIf="ueberschriftList">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]=" ['/ueberschrifts', 1]" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 1]">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 2]">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 3]">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</main>
</div>
<!--  <button (click) ="deleteEntry()"></button>-->

<!--
  <p class = "pull-left" *ngIf="ueberschrift"><small>{{ueberschrift.ldt}} </small>


      <small>
        <a [routerLink]="['/user-like',ueberschrift.userid]"> {{ueberschrift.username}}
        </a>
      </small>
  </p>-->

<!--    <h3 *ngIf="ueberschrift">{{ueberschrift.user}}</h3>-->

<!--<strong>
<small>
  <a [routerLink]="['/user-like',eintrag.userid]">{{eintrag.username}}
  </a>
</small>
</strong>-->

<!--               <p *ngIf="sessionUser !== null && likesnumber.includes(sessionUser.id)&&eintrag"><strong>liked!</strong>
               </p>-->
<!--            <button  class="btn btn-secondary btn-sm" (click)="deleteEitrag(eintrag)" >eintrag löschen</button>-->
<!--                <a class="btn"  *ngIf="sessionUser.username!==eintrag.username" [routerLink]="['/message',sessionUser.id,1]">melden</a>-->
