<!--
<div class="container my-md-2" *ngFor="let entry of entries ">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{entry.name}}
  </li>
</div>-->



<div class="card col-sm-8 login-section" *ngIf="sessionUser!==null">
  <h3 class="my-4 login-register-title" >eintrag schreiben</h3>
  <div class="card-body" id="loginSection">

<h6 class="my-4 login-register-title" id="ueberschrift" *ngIf="ueberschrift">Überschrift: {{ueberschrift.text}}</h6>

    <div class="container">
      <form (ngSubmit)="eintragschreiben()">

        <div class="form-group ">
          <label class="col-lg"  for="comment">text:<br>
            <textarea name="text" class="form-control col-12 form-rounded" id="comment" rows="5"
                      [(ngModel)]="eintragData.text"></textarea>
          </label><br>
        </div>

        <div class="container row  justify-content-between">
          <button class="btn btn-primary" type="submit">abschicken</button>
          <a routerLink="" class="btn-link">cancel</a>
          <p *ngIf="flashMessage.message">{{flashMessage.message}}</p>
        </div>
      </form>
      <hr>

    </div>
  </div>
</div>
