/*
ul.container.w-auto{
  background-color: aliceblue;
margin-left: 350px;
  !*padding-top: 100px;*!


}
*/
/*@media (max-width: 940px){

  h3{
    text-align: left;
    padding-left: 100px;

  }
}*/




/*.bd-title {

  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}*/

h1 {
  text-align: center;
}
strong{
  word-wrap: break-word;
  color: #0a0a0a;
  font-size: 22pt;
}
small{
  word-wrap: break-word;
  color: rgba(10, 10, 10, 0.83);
margin-left: 5px;

}



/*div.col-lg-8{

  text-align:left;
  padding-left: 20px;

}
div.col-lg-5 {
  padding-left: 30px;

}
@media(max-width: 768px) {
  div.col-md-3 {
    width: 50px;
  }

  }*/

/*div.col-md-3{
  text-align: right;
  padding-left: 0px;


}*/
/*div#username.col-md-4{
  text-align: right;
  padding-left: 5px;
  padding-right: 0px;

}
@media(max-width: 768px) {
  div#username.col-md-4 {
    width: 140px;
    text-align: left;
  }
  }*/


/*@media(max-width: 990px) {
  div.col-lg-5 {
    padding-left: 15px;

  }
}*/

/*p.pull-left{
  text-align: left;

}*/

/*@media (max-width: 40px) {
  p.pull-right{

    position: absolute;
    right: -30px;
    padding-left: 100px

  }

}*/
/*
@media (max-width: 768px) {

  ul.nav.justify-content-md-center{
    width: 70px;
    margin-right: 0px;
  }
}*/
/*a#navbarDropdown.nav-link.dropdown-toggle{
  color: rgba(2, 6, 167, 0.99);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}*/

/*p.pull-right{
  text-align:right;
}*/
a.col-md-4{
  color: #0057f8;
}

/*h4{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #0a0a0a;
  text-align: left;

}
h4.text-secondary{
  color: #0a0a0a;
}

h5{

  padding-left: 350px;
}*/

/*@media(max-width: 768px){
  main.bd-content{
    position: absolute;
    top: 300px;
    left: 70px;
    max-width:85%;
  }
}

@media(max-width: 1200px) and (min-width: 768px){
  main.bd-content{
    position: absolute;
    left: 300px;
  }

}
@media(max-width: 499px){
  main.bd-content{
    max-width: 200%}
}

main{
  position: absolute;
  left: 450px;
  width: 850px;

}*/

/*.bd-content {

  order: 1;
}*/

/*div.media-body{
  border-bottom: 1px dotted #ccc;
  max-width: 850px;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;

}*/


/*@media (min-width: 500px){
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }}*/



/*p.pull-left.a{
  text-align: right;
}
button.btn.btn-primary.btn-sm{
  margin-right: 5px;
}
div{
  margin-left: 5px;
}*/
a.col-md-12.navbar-brand{
  text-align: right;
  color: #0a0a0a;
}
/*div.col-lg-12{

  text-align: right;
}*/
button.btn.btn-secondary.btn-sm{
  background-color: rgba(142, 238, 235, 0.87);
  color: #0a0a0a;
}
button.btn.btn-success.btn-sm{
  background-color: rgba(2, 6, 167, 0.99);
}
button.btn.btn-danger.btn-sm{
  background-color: rgba(2, 6, 167, 0.99);
}
/*ul.pagination{
  margin-top: 5px;
}*/

/*@media (max-width: 992px) {
  div#username.col-md-5{

}

}
div.col-lg-3{
  text-align: left;
  width: 100px;
}*/

/*button#schreiben.btn.btn-secondary.btn-sm{
  margin-right: 30px;
}*/


div.row{
  display: flex;
  margin-top: 20px;
}
/*button#schreiben.btn.btn-secondary.btn-sm{
justify-content: center;
}*/

div.commments-list{
  margin-bottom: 40px;
}

div#username{
white-space: nowrap}

/*
!*@media (max-width: 940px) and (min-width: 768px){
  div.col-md-3{
margin-left: 30px;
  }

}
*/
