
<div class="container-fluid col-12 justify-content-center">
<header  class="navbar navbar-light bg-light flex-column flex-lg-row bd-navbar" >
  <a class="navbar-brand" href="#">
    bitterschön
  </a>
<app-searchbar></app-searchbar>
<!--  <form class="form-inline ">

    <input class="form-control mr-sm-auto" type="search" placeholder="search" aria-label="search" >
    <button class="btn btn-outline-secondary my-2 my-sm-4 " type="submit">search</button>

  </form>-->


  <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
     routerLink="/login" *ngIf="sessionUser === null">anmelden</a>

  <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
     routerLink="/registration" *ngIf="sessionUser === null">registrieren</a>


  <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
     [routerLink]="['/user-like',sessionUser.id]" *ngIf="sessionUser !== null" >deine profil</a>
  <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
     [routerLink]="['/message',sessionUser.id]" *ngIf="sessionUser !== null" >nachrichten <span class="badge badge-primary" *ngIf="this.unreadedmessages.length>0">{{this.unreadedmessages.length}}</span></a>

  <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
     routerLink="/" *ngIf="sessionUser !== null" (click)="logout()">logout</a>

</header>

<div class="flex-md-row col-12">
<ul class="nav justify-content-center col-12">
  <li class="nav-item">
    <a class="navbar-brand   font-italic" [routerLink]="['/']" >aktuell
    </a>
  </li>
  <li class="nav-item active">
    <a class="navbar-brand" [routerLink]="['/ueberschrift',  sessionUser.id, ueberschriftList.length+1]" *ngIf="sessionUser !== null&&ueberschriftList">überschrift schreiben
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      info
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">was ist spargel?</a>
      <a class="dropdown-item" href="#"></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">impressum</a>
    </div>
  </li>
</ul>
</div>
</div>
