
<div class="col-sm-10 col-lg-12">
  <div class="login" *ngIf="sessionUser != null">
    <h3 class="my-4">You're logged in!</h3>

    <br>
    <br>

    <a class="btn btn-primary" routerLink="/yourprofile">Show your Profile</a>
    <br>
    <br>
    <br>

    <a class="btn btn-primary" routerLink="/">Back To Mainpage</a>
  </div>

  <div *ngIf="sessionUser == null">

    <div class="card col-sm-8 login-section">
      <h3 class="my-4 login-register-title">Login</h3>
      <div class="card-body" id="loginSection">
        <div class="container">
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label>Username: <input name="username" class="form-control" required
                                      [(ngModel)]="loginData.username"></label><br>
            </div>
            <div class="form-group">
              <label>Password: <input type="password" name="password" class="form-control" required
                                      [(ngModel)]="loginData.password"></label><br>
            </div>
            <div class="container row justify-content-between">
              <button class="btn btn-primary" type="submit">Login</button>
              <a class="cancel-button" routerLink="/">Cancel</a>
            </div>
          </form>
          <div *ngIf="flashMessage">
            <hr>
            <p>{{flashMessage}}</p>
          </div>
          <hr>
          <p>Don't have an account yet?
            <a class="btn-link" routerLink="/registration">Register here!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

