

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container col-lg-8" *ngIf="sessionUser!==null">
  <div class="row">

    <div class="col-sm-9">
      <div class="panel rounded shadow panel-teal">
        <div class="panel-heading">
          <div class="pull-left">
            <h3 class="panel-title" *ngIf="message">absender: {{message.userName}}</h3>
          </div>

          <div class="clearfix"></div>
</div>

        <div class="panel-body no-padding" *ngIf="message">


          <div class="table-responsive">
            <table class="table table-hover table-email">
              <tbody>
              <tr class="unread selected">

                <td>
                  <div class="btn-group" >
                    <button [routerLink]="['/message',sessionUser.id,message.userid]" class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Antwort schreiben"><i class="fa fa-mail-reply"></i></button>
<!--                    <button (click)="deletemessage(message)"  class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>-->
                  </div>
                </td>
<div class="media">
  <!-- <a href="#" class="pull-left">
     <img alt="..." src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object">
   </a>-->
  <div class="media-body" >
<!--    <h4 class="text-primary">{{message.userName}}</h4>-->
    <p class="email-summary"> {{message.text}}</p>
    <span class="media-meta">{{message.realTime}}</span>
  </div>
</div>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
  </div>
</div>
  </div>
</div>
