


<main class="col-md-6 col-xl-8  col-sm-auto py-md-3 pl-md-5 bd-content" role="main">
  <div *ngFor="let ueberschrift of ueberschriftList">

    <h1 class="bd-title" id="content" *ngIf="ueberschrift" >

      <a [routerLink]=" ['/ueberschriftDetail', ueberschrift.id]">
        <strong>{{ueberschrift.text}}</strong></a></h1>
    <!--  <button (click) ="deleteEntry()"></button>-->


    <p class = "pull-left" *ngIf="ueberschrift"><small>{{ueberschrift.ldt}}~</small>


      <small>
        <a [routerLink]="['/user-like',ueberschrift.userid]">geschrieben von~{{ueberschrift.username}}
        </a>
      </small>
    </p>

    <!--    <h3 *ngIf="ueberschrift">{{ueberschrift.user}}</h3>-->


    <a class="col-md-12 navbar-brand" [routerLink]="['/eintrag-schreiben', ueberschrift.id, sessionUser.id,eintragList1.length+1]" *ngIf="sessionUser !== null&&ueberschrift&&eintragList1">eintrag Schreiben
    </a>


    <hr>
    <div class="commments-list" *ngFor="let eintrag of ueberschrift.eintragList" >
      <div class="media">
        <div class="media-body col-md-6">
          <p class="pull-right"><small>{{eintrag.ldt}}</small></p>

          <h4 class="text-secondary"><em><small>{{eintrag.text}}</small></em>
          </h4>
          <div class="row">

            <button class="btn btn-primary btn-sm" > <small>{{eintrag.likesnumber}}</small></button>

            <div *ngIf="sessionUser!== null && !likeseintrags.includes(eintrag.id)">

              <button  class="btn btn-primary btn-sm" (click)="addToLikes(eintrag)" >gefällt mir</button>

            </div>
            <div *ngIf="sessionUser !==null && likeseintrags.includes(eintrag.id)">

              <button  class="btn btn-primary btn-sm" (click)="removelike(eintrag)"  >gefällt mir zurück</button>
            </div>
            <div *ngIf="sessionUser!== null && eintrag.username === sessionUser.username">

              <button  class="btn btn-primary btn-sm" (click)="deleteEitrag(eintrag)" >eintrag löschen</button>

            </div>
            <div>

              <small>
                <a [routerLink]="['/user-like',eintrag.userid]">geschrieben von~{{eintrag.username}}
                </a>
              </small>
            </div>

            <!--               <p *ngIf="sessionUser !== null && likesnumber.includes(sessionUser.id)&&eintrag"><strong>liked!</strong>
                           </p>-->

          </div>
        </div>
      </div>
    </div>

  </div>
  <nav aria-label="Page navigation example" *ngIf="ueberschriftList.length">
    <ul class="pagination" >
      <li class="page-item">
        <a class="page-link" *ngIf="id>=1" [routerLink]=" ['/ueberschrifts', id-1]" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 1]">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 2]">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]=" ['/ueberschrifts', 3]">3</a></li>
      <li class="page-item">
        <a class="page-link" [routerLink]=" ['/ueberschrifts', id+1]" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</main>
