/*@media {
  a.col-md-3.navbar-brand {
    text-align: right;
    padding-left: 300px;
    margin-right: 50px;
    padding-right: 250px;

//eintrag Schreiben icin di bu
    color: blue
  }
}*/

@media (max-width: 940px){

  h3{
    text-align: left;
    padding-left: 100px;

  }
}




.bd-title {

  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
strong{
  word-wrap: break-word;
  color: #0a0a0a;
}
small{
  word-wrap: break-word;


}


div.col-lg-8{

  text-align:left;
  padding-left: 20px;

}
div.col-lg-5 {
  padding-left: 30px;

}
@media(max-width: 990px) {
  div.col-lg-5 {
    padding-left: 15px;

  }
}

p.pull-left{
  text-align: left;

}

@media (max-width: 40px) {
  p.pull-right{

    position: absolute;
    right: -30px;
    padding-left: 100px

  }

}
a{
  color: #d56ad5;
}

p.pull-right{
  text-align:right;
}
a.col-md-4{
  color: #0057f8;
}

h4{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #0a0a0a;

}

h5{

  padding-left: 350px;
}

@media(max-width: 768px){
  main.bd-content{
    position: absolute;
    top: 300px;
    left: 70px;
  }
}

@media(max-width: 1200px) and (min-width: 768px){
  main.bd-content{
    position: absolute;
    left: 300px;
  }

}


main{
  position: absolute;
  left: 450px;

}

.bd-content {

  order: 1;
}
div.media-body{
  border-bottom: 1px dotted #ccc;
  max-width: 850px;



}


@media (min-width: 500px){
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }}



p.pull-left.a{
  text-align: right;
}
button.btn.btn-primary.btn-sm{
  margin-right: 5px;
}
div{
  margin-left: 5px;
}
a.col-md-12.navbar-brand{
  text-align: right;
  color: #0057f8;
}
