



div.card.col-sm-8.login-section {
  background: rgba(229, 232, 234, 0.63);

  margin-top: 50px;
  position: absolute;

  left: 550px;

}


@media(max-width: 1350px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 350px;

  }
}

@media(max-width: 1050px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 270px;

  }
}
@media(max-width: 820px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 240px;

  }
}

@media(max-width: 768px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 30px;
    max-width: 90%;

  }
}
