




<div class="container col-12 col-sm-7 col-md-8 col-lg-8 col-xl-8 justify-content-center">
<div class="card login-section">
  <h3 class="my-4 login-register-title" >message schreiben</h3>
  <div class="card-body" id="loginSection">

<!--    <h6 class="my-4 login-register-title" id="ueberschrift" *ngIf="ueberschrift">Überschrift: {{ueberschrift.text}}</h6>-->

    <div class="container">
      <form (ngSubmit)="messageschreiben()">

        <div class="form-group ">
          <label  for="comment">text:<br>
            <textarea name="text" class="form-control-lg form-rounded" id="comment" rows="3" placeholder="Type in your message"
                      [(ngModel)]="messageData.text"></textarea>
          </label><br>
        </div>

        <div class="container row  justify-content-between">
          <button class="btn btn-primary" type="submit">abschicken</button>
          <a routerLink="" class="btn-link">cancel</a>
          <p *ngIf="flashMessage.message">{{flashMessage.message}}</p>
        </div>
      </form>
      <hr>

    </div>
  </div>
</div>
</div>
