




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container col-lg-8" *ngIf="sessionUser!==null">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel rounded shadow panel-teal">
        <div class="panel-heading">
          <div class="pull-left">
            <h3 class="panel-title">outbox</h3>
          </div>

          <div class="clearfix"></div>
        </div><!-- /.panel-heading -->
        <div class="panel-sub-heading inner-all">
          <div class="pull-left">
            <ul class="list-inline no-margin">



              <li>
                <div class="ckbox ckbox-theme" id="all">
                  <input id="checkbox-group" type="checkbox" class="mail-group-checkbox" (click)="checked()">
                  <label for="checkbox-group"></label>
                </div>
              </li>
              <li>
                <div class="btn-group"  >
                  <button (click)="loeschen(message)" type="button" class="btn btn-secondary btn-sm"  *ngIf="sessionUser !== null">
                    verwerfen <span class="caret"></span>
                  </button>
                </div>

                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm" id="inbox" [routerLink]="['/message',sessionUser.id]" *ngIf="sessionUser !== null">
                    inbox <span class="caret"></span>
                  </button>
                </div>

              </li>

            </ul>
          </div>
          <div class="clearfix"></div>



        </div><!-- /.panel-sub-heading -->
        <div class="panel-body no-padding" *ngFor="let message of messages">

          <div class="table-responsive" *ngIf="message.userName==sessionUser.username&&message.deletedout===false&&message.checkboxout===false">
            <table class="table table-hover table-email">
              <tbody>
              <tr class="unread selected" >

                <td id="clickbox">
                  <div class="ckbox ckbox-theme" >
                    <input id="checkbox" name="umut" type="checkbox" class="mail-checkbox" [checked]="isChecked" value="{{message.id}}">
                    <label for="checkbox"></label>
                  </div>
                </td>
                <td>
                    <div class="btn-group">
<!--                      <button class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Antwort schreiben"><i class="fa fa-mail-reply"></i></button>-->
                      <button (click)="deletemessage(message)" class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                    </div>
                </td>
                <td>
                  <div class="media">
                    <!-- <a href="#" class="pull-left">
                       <img alt="..." src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object">
                     </a>-->
                    <div class="media-body" >
                      <h4 class="text-primary">von {{message.userName}} nach {{message.userNameA}}</h4>
                      <p class="email-summary"> {{message.text}} <span class="label label-success">New</span> </p>
                      <span class="media-meta">{{message.realTime}}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                </td>
              </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div>
  </div>
</div>

