
body {margin:2rem;


}
div.card.col-sm-8.login-section{
  background: rgba(229, 232, 234, 0.63);
  margin-bottom: 10px;
  padding-bottom: 134px;
  margin-top: 10px;
}


.form-rounded {
  border-radius: 1rem;
}
