
<!--<div *ngIf="sessionUser != null">-->

<div class="card col-sm-8 login-section">
  <h3 class="my-4 login-register-title">überschrift schreiben</h3>
  <div class="card-body" id="loginSection">



    <div class="container">
      <form (ngSubmit)="ueberschriftschreiben()">


        <div class="form-group ">
          <label class="col-lg">text:<br>
            <input name="text" class="form-control form-rounded "
                   [(ngModel)]="ueberschriftData.text">
          </label><br>
        </div>

        <div class="container row  justify-content-between">
          <button class="btn btn-primary" type="submit">abschicken</button>
          <a routerLink="" class="btn-link">cancel</a>
          <p *ngIf="flashMessage.message">{{flashMessage.message}}</p>
        </div>
      </form>
      <hr>

    </div>
  </div>
</div>


